@tailwind base;

@layer base {
  html {
    text-rendering: optimizeLegibility;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }
}

html {
  @apply antialiased;
  font-size: 16px;
  font-feature-settings: "rlig"1, "calt"1, "ss01"1;
  /* scroll-behavior: smooth; */
}

body {
  @apply bg-white;
}

.dark body {
  @apply text-gray-100 bg-dark;
}

/* TODO code */
@tailwind components;
@tailwind utilities;

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

article.wysiwyg blockquote {
  @apply pl-6 italic text-gray-700 border-l-2 border-gray-300;
  @apply dark:border-gray-700 dark:text-gray-400;
}

article.wysiwyg a.wysiwyg-link {
  display: inline-block;
  position: relative;
}

article.wysiwyg a.wysiwyg-link::before {
  content: '';
  position: absolute;
  z-index: -1;
  height: 1px;
  bottom: 0;
  left: 51%;
  right: 51%;
  background: #4c6a9e;
  transition-duration: .2s;
  transition-property: right, left;
  transition-timing-function: ease-out;
}

article.wysiwyg a.wysiwyg-link:hover::before {
  right: 0;
  left: 0;
}

article .subheading {
  color: inherit;
}

article .subheading-anchor {
  margin-top: -84px;
  display: inline-block;
  position: absolute;
  width: 1px;
}

article .subheading-anchor+a:hover .anchor-icon {
  opacity: 1;
}

article .anchor-icon {
  opacity: 0;
  @apply ml-2 text-gray-500 select-none;
}

.dark article .anchor-icon {
  @apply text-gray-700;
}

.logo {
  @apply w-40;
}

.logo svg {
  @apply fill-current text-[#101e46];
}

.dark .logo svg {
  @apply text-slate-50;
}

.prism-code.language-diff .inserted.prefix,
.prism-code.language-diff .deleted.prefix {
  user-select: none;
  @apply opacity-30;
}

.prism-code.language-diff .inserted.line {
  @apply text-green-600;
}

.prism-code.language-diff .deleted.line {
  @apply text-red-600;
}

*::-webkit-scrollbar {
  @apply bg-transparent w-2 h-2;
}

*::-webkit-scrollbar-thumb {
  transition: background .2s ease-in-out;
  border: 3px solid transparent;
  @apply bg-gray-200 dark:bg-dark rounded-full bg-clip-content;
}

*::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-300 dark:bg-dark;
}

*::-webkit-scrollbar-corner {
  @apply bg-transparent;
}

.nav {
  backdrop-filter: saturate(180%) blur(10px);
  box-sizing: border-box;
  overflow: hidden;
}

.post-item~.post-item {
  --tw-space-y-reverse: 0;
  margin-top: calc(4rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(4rem * var(--tw-space-y-reverse));
}

/* 
.post-item-title {
  position: relative;
}
.post-item-title::before {
  content: '';
  position: absolute;
  z-index: -1;
  height: 1px;
  bottom: 0;
  left: 51%;
  right: 51%;
  background: #4c6a9e;
  transition-duration: .2s;
  transition-property: right,left;
  transition-timing-function: ease-out;
}
.post-item-title:hover::before {
  right: 0;
  left: 0;
} */

.wysiwyg pre {
  background-color: transparent;
  background: var(--prism-background);
  margin: 0;
  padding: 0.875rem 1.125rem;
  font-size: var(--prism-block-font-size);
  margin: var(--prism-block-margin-y) var(--prism-block-margin-x);
  border-radius: var(--prism-block-radius);
}

.article-excerpt {
  margin-bottom: 1.25em;
  margin-top: 1.25em;
}

.article-byline-content span:not(:first-child)::before {
  content: "/ ";
  font-size: 10px;
  opacity: 0.5;
  color: inherit;
  margin: 0 4px;
}

.article-byline-content span.tag::before {
  content: ''
}

.react-cool-image[data-loaded="false"] img {
  width: 100%;
  height: 150px;
}

.wysiwyg .react-cool-image:first-of-type img {
  margin-top: 0;
}

.wysiwyg .react-cool-image img {
  transition: all 0.3s;
}

.wysiwyg .react-cool-image:hover img {
  transform: scale(1.0082);
}