@tailwind base;

@layer base {
  body {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
      sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
      Noto Color Emoji;
    font-size: 14px;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

body {
  @apply bg-white;
}

.dark body {
  @apply text-gray-100 bg-dark;
}

/* TODO code */
@tailwind components;
@tailwind utilities;

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

article.wysiwyg blockquote {
  @apply pl-6 italic text-gray-700 border-l-2 border-gray-300;
  @apply dark:border-gray-700 dark:text-gray-400;
}

article.wysiwyg p.wysiwyg-figcaption {
  @apply pl-6 text-gray-700 text-center opacity-75 text-xs;
  @apply dark:text-gray-400;
}

article.wysiwyg a.wysiwyg-link {
  display: inline-block;
  position: relative;
  word-break: break-all;
}

article.wysiwyg a.wysiwyg-link::before {
  content: '';
  position: absolute;
  z-index: -1;
  height: 1px;
  bottom: 0;
  left: 51%;
  right: 51%;
  background: #4c6a9e;
  transition-duration: 0.2s;
  transition-property: right, left;
  transition-timing-function: ease-out;
}

article.wysiwyg a.wysiwyg-link:hover::before {
  right: 0;
  left: 0;
}

article .subheading {
  color: inherit;
}

article .subheading-anchor {
  margin-top: -84px;
  display: inline-block;
  position: absolute;
  width: 1px;
}

article .subheading-anchor + a:hover .anchor-icon {
  opacity: 1;
}

article .anchor-icon {
  opacity: 0;
  @apply ml-2 text-gray-500 select-none;
}

.dark article .anchor-icon {
  @apply text-gray-700;
}

.logo {
  @apply w-40;
}

.prism-code.language-diff .inserted.prefix,
.prism-code.language-diff .deleted.prefix {
  user-select: none;
  @apply opacity-30;
}

.prism-code.language-diff .inserted.line {
  @apply text-green-600;
}

.prism-code.language-diff .deleted.line {
  @apply text-red-600;
}

*::-webkit-scrollbar {
  @apply bg-transparent w-2 h-2;
}

*::-webkit-scrollbar-thumb {
  transition: background 0.2s ease-in-out;
  border: 3px solid transparent;
  @apply bg-gray-200 dark:bg-dark rounded-full bg-clip-content;
}

*::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-300 dark:bg-dark;
}

*::-webkit-scrollbar-corner {
  @apply bg-transparent;
}

.nav {
  backdrop-filter: saturate(180%) blur(10px);
  box-sizing: border-box;
  overflow: hidden;
}

.post-item ~ .post-item {
  --tw-space-y-reverse: 0;
  margin-top: calc(4rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(4rem * var(--tw-space-y-reverse));
}

/* 
.post-item-title {
  position: relative;
}
.post-item-title::before {
  content: '';
  position: absolute;
  z-index: -1;
  height: 1px;
  bottom: 0;
  left: 51%;
  right: 51%;
  background: #4c6a9e;
  transition-duration: .2s;
  transition-property: right,left;
  transition-timing-function: ease-out;
}
.post-item-title:hover::before {
  right: 0;
  left: 0;
} */

.wysiwyg pre {
  background-color: transparent;
  background: var(--prism-background);
  margin: 0;
  padding: 0.875rem 1.125rem;
  font-size: var(--prism-block-font-size);
  margin: var(--prism-block-margin-y) var(--prism-block-margin-x);
  border-radius: var(--prism-block-radius);
}

.article-excerpt {
  margin-bottom: 1.25em;
  margin-top: 1.25em;
}

.article-byline-content span:not(:first-child)::before {
  content: '/ ';
  font-size: 10px;
  opacity: 0.5;
  color: inherit;
  margin: 0 4px;
}

.article-byline-content span.tag::before {
  content: '';
}

.react-cool-image[data-loaded='false'] img {
  width: 100%;
  height: 150px;
}

.wysiwyg .react-cool-image:first-of-type img {
  margin-top: 0;
}

.wysiwyg .react-cool-image img {
  transition: all 0.3s;
}

.wysiwyg .react-cool-image:hover img {
  transform: scale(1.0082);
}

.wysiwyg :where(a code):not(:where([class~='not-wysiwyg'] *)),
.wysiwyg :where(thead th):not(:where([class~='not-wysiwyg'] *)) {
  color: var(--prism-decorator);
}

.wysiwyg .wysiwyg-image-figure {
  width: 100%;
}

.wysiwyg .wysiwyg-image.inline {
  display: inline-block;
}
.wysiwyg .wysiwyg-image.inline + p.wysiwyg-figcaption {
  display: none;
}

svg.stroke-current path,
svg.stroke-current circle,
svg.stroke-current g {
  stroke: inherit;
}
button {
  cursor: pointer;
}
.btn-plain {
  display: inline-flex;
  max-width: 100%;
  cursor: pointer;
  align-items: center;
  border-radius: 8px;
}

.text-wedges-gray-700 {
  --tw-text-opacity: 1;
  color: rgba(63, 63, 80, var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.text-wedges-gray-400 {
  --tw-text-opacity: 1;
  color: rgba(138, 138, 163, var(--tw-text-opacity));
}

.text-wedges-gray-500 {
  --tw-text-opacity: 1;
  color: rgba(108, 108, 137, var(--tw-text-opacity));
}

.text-wedges-gray {
  --tw-text-opacity: 1;
  color: rgba(108, 108, 137, var(--tw-text-opacity));
}

.text-wedges-gray-300 {
  --tw-text-opacity: 1;
  color: rgba(169, 169, 188, var(--tw-text-opacity));
}

.text-wedges-gray-200 {
  --tw-text-opacity: 1;
  color: rgba(209, 209, 219, var(--tw-text-opacity));
}

.text-wedges-gray-900 {
  --tw-text-opacity: 1;
  color: rgba(18, 18, 23, var(--tw-text-opacity));
}

.text-grey-900 {
  --tw-text-opacity: 1;
  color: rgba(31, 30, 36, var(--tw-text-opacity));
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgba(107, 114, 128, var(--tw-text-opacity));
}

.border-wedges-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgba(209, 209, 219, var(--tw-border-opacity));
}

.border-wedges-gray-100 {
  --tw-border-opacity: 1;
  border-color: rgba(232, 232, 237, var(--tw-border-opacity));
}

.border-wedges-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgba(169, 169, 188, var(--tw-border-opacity));
}

.border-grey-100 {
  --tw-border-opacity: 1;
  border-color: rgba(232, 232, 237, var(--tw-border-opacity));
}

.bg-wedges-gray-50,
.bg-light-97 {
  --tw-bg-opacity: 1;
  background-color: rgba(247, 247, 248, var(--tw-bg-opacity));
}

.table tr:hover td:last-child {
  position: relative;
}

.table tr:hover td:last-child:before {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 16px;
  --tw-translate-x: 16px;
  transform: var(--tw-transform);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  --tw-bg-opacity: 1;
  background-color: rgba(247, 247, 248, var(--tw-bg-opacity));

  content: '';
}

.group:hover .group-hover\:block {
  display: block;
}

.group:hover .group-hover\:inline-block {
  display: inline-block;
}

.group:hover .group-hover\:scale-105 {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: var(--tw-transform);
}

.group:hover .group-hover\:border-light-95 {
  --tw-border-opacity: 1;
  border-color: rgba(246, 246, 248, var(--tw-border-opacity));
}

.group:hover .group-hover\:bg-wedges-gray-50,
.group:hover .group-hover\:bg-light-97 {
  --tw-bg-opacity: 1;
  background-color: rgba(247, 247, 248, var(--tw-bg-opacity));
}

.group:hover .group-hover\:bg-wedges-gray-100,
.group:hover .group-hover\:bg-grey-100,
.group:hover .group-hover\:bg-light-91 {
  --tw-bg-opacity: 1;
  background-color: rgba(232, 232, 237, var(--tw-bg-opacity));
}

.group:hover .group-hover\:text-wedges-gray-900 {
  --tw-text-opacity: 1;
  color: rgba(18, 18, 23, var(--tw-text-opacity));
}

.group:hover .group-hover\:text-wtf-majorelle {
  --tw-text-opacity: 1;
  color: rgba(112, 71, 235, var(--tw-text-opacity));
}
.max-w-60 {
  max-width: 480px;
}
.table-wrapper > div {
  border: 0;
}